@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background-start: #F0F4FF;
  --background-mid: #F5FFF9;
  --background-end: #FAF5FF;
}

body {
  color: #1E293B;
  background: linear-gradient(135deg, var(--background-start), var(--background-mid), var(--background-end));
  min-height: 100vh;
  @apply antialiased;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200/50 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300/50;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
